In [1]:
import numpy as np

## DataTypes and Attributes

In [2]:
a1 = np.array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

In [6]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
a1.shape

(3,)

In [8]:
a2.shape

(3, 3)

In [9]:
a2.ndim

2

In [10]:
a1.dtype, a2.dtype

(dtype('int32'), dtype('int32'))

In [11]:
a1.size, a2.size

(3, 9)

In [12]:
type(a1), type(a2)

(numpy.ndarray, numpy.ndarray)

In [14]:
# Create a dataframe from an nd.array
import pandas as pd

df =  pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9